@{
    ViewData["Title"] = "Home Page";
    Layout = "";
}
<link href="https://fonts.googleapis.com/css?family=Dosis|Kumar+One+Outline" rel="stylesheet">
<link href="~/css/site.css" rel="stylesheet" type="text/css" />

<div class="backgroundDark">
    <div class="wrapper">
        <div class="headerTitle">
            NIGHT.S
        </div>
        <div>
            <div class="timesFriday">
                fridays from 10pm-11pm


            </div>
            <div class="asterisks">
                *mountain time
            </div>
        </div>
        <a class="linkToShow">
            orgs.mines.edu/radio
        </a>
        <div class="explicitContent">
            EXPLICIT CONTENT
        </div>
        <img class="nasaImage" width="600" src="https://nights.blob.core.windows.net/nights/nasa1970.jpg" />
    </div>
</div>
